{% extends 'base.html' %}
{% block title %}
Projects
{% endblock %}
{% block body %}
<div class="container my-3">
    <h1 class="text-center my-3">My Projects</h1>
    <div class="row">
        <div class="card mx-3" style="width: 18rem;">
            <img src="/static/projimg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cardiovascular disease predictor</h5>
              <p class="card-text">I made a Cardiovascular disease predictor using ML</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
          <div class="card mx-3" style="width: 18rem;">
            <img src="/static/sliderimg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ecom Website</h5>
              <p class="card-text">Ecommerce Website using Django</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
          <div class="card mx-3" style="width: 18rem;">
            <img src="/static/sliderimg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Blog Website</h5>
              <p class="card-text">Blog Website using Django</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
    </div>
</div>
<footer class="bg-dark text-light position-absolute fixed-bottom">
  <p class="text-center py-2 my-0">
   &copy; by Shivam Datta Purkayastha||All Rights Reserved
  </p>
</footer>
{% endblock %}